body, h1, p {
    margin: 0;
}
.container {
    width:460px;
    margin: 40px auto;
}
.title, .description {
    text-align: center;
}
.description {
    margin: 20px 0;
}
form > div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.label-width {
    display: inline-block;
    width: 80px;
}
[type="text"], [type="email"] {
    width: 390px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
fieldset {
    width: 390px;
    border: 0;
    padding-left: 0;
}
.submit-button {
    width: 100%;
    height: 40px;
    background-color: royalblue;
    color: white;
    border: 1px solid rgb(46, 75, 161);
    border-width: 0 0 5px 0;
    margin-top: 20px;
    border-radius: 4px;
    font: inherit;
    box-sizing: content-box;
    padding: 0;
}
.submit-button:active {
    border: 0;
    margin-top: 24px;
}